.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
  
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-container {
justify-content: space-between;
  align-items: center; 
   display: flex;
 
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 5rem;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #00bcd4;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;
  background: none;
  border: none;
  
}

.hamburger-line {
  width: 25px;
  height: 3px;
background-image: linear-gradient(45deg, #fa7b04, #07cbf7);}


@media (max-width: 768px) {
  
  .hamburger {
    display: flex;

  }

  .nav-links {
    position: absolute;
top: 15vh;
    right: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    transform: translateY(-230%);
    transition: transform 0.5s ease-in-out;
  background-image: linear-gradient(to right, #ff7e5f, #b27bfe);
  }

  .nav-links.active {
    
    transform: translateY(0);}
  .nav-link {
    font-size: 1.1rem;
            color: #170213;
font-weight: 600;

  }
   
    
}
.about-container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.about-header {
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-title {
  margin: 0;
  font-size: 36px;
}

.about-subtitle {
  margin: 10px 0;
  font-size: 24px;
}

.about-contact {
  font-size: 16px;
}

.about-link {
  color: #ffd700;
  text-decoration: none;
}

.summary-section,
.skills-section,
.experience-section,
.education-section,
.additional-info-section {
  padding: 40px;
  text-align: center;
}

.summary-title,
.skills-title,
.experience-title,
.education-title,
.additional-info-title {
  font-size: 32px;
  color: #343a40;
  text-align: left;
  margin-bottom: 20px;
}

.summary-text,
.skills-list,
.experience-description,
.additional-info-list {
  font-size: 18px;
  color: #555;
  text-align: left;
}

.skills-list {
  list-style-type: none;
  padding: 0;
}

.experience-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.experience-item {
  min-width: 300px;
}

.education-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.education-item {
  flex: 1;
  min-width: 300px;
}

.additional-info-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 768px) {
  .about-container {
    padding: 10px;
  }

  .about-header {
    text-align: center;
  }

  .about-title {
    font-size: 28px;
  }

  .about-subtitle {
    font-size: 20px;
  }

  .about-contact {
    font-size: 14px;
  }

  .summary-title,
  .skills-title,
  .experience-title,
  .education-title,
  .additional-info-title {
    font-size: 24px;
  }

  .summary-text,
  .skills-list,
  .experience-description,
  .additional-info-list {
    font-size: 16px;
  }

  .experience-container,
  .education-container {
    flex-direction: column;
  }

  .experience-item,
  .education-item {
    min-width: 100%;
  }
}
.home {
  background-color: #121212;
  min-height: calc(100vh - 10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: white;
  height: 100%;
  max-width: 100%;
}

.content {
  max-width: 66%;
}

.home-greeting {
  font-size: 2.5rem;
}

.home-name {
  font-size: 3.5rem;
  font-family: Pacifico, cursive;
}

.home-name-part1 {
  color: #ff5733;
  margin-right: 2px;
}

.home-name-part2 {
color: #ff5733;  margin-right: 2px;
}

.home-name-part3 {
color: #ff5733;  margin-right: 2px;
}

.home-name-part4 {
color: #ff5733;  margin-right: 2px;
}

.home-name-part5 {
color: #ff5733;  margin-right: 2px;
}

.home-name-dot {
color: #ff5733;  margin-right: 1px;
}

.home-name-part6 {
color: #ff5733;}

.home-role {
  font-size: 1.5rem;
}

.home-role-highlight {
  color: #00d9ff;
}

.home-description {
  font-size: 1.2rem;
  line-height: 1.9;
  max-width: 800px;
  padding: 25px;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  color: lightgray;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-btn {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background-color: #00d9ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.image {
  position: relative;
}

.image-wrapper {
  width: 350px;
  height: 350px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border: 6px solid;
  cursor: grab;
}

.home-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
@media (max-width: 574px) {
  .home {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    width: auto;
    max-width: 427px;
    padding: 0;
    margin: 0;

  }

  .home-greeting {
    font-size: 0.8rem;
    display: flex;
    justify-content: start;
    padding: 0;
    margin: 0;
  }

  .home-name {
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    padding: 0;
    margin: 0;
  }

  .home-role {
    font-size: 1.6rem;
  }

  .home-description {
    font-size: 0.8rem;
    padding: 15px;
    border: 2px solid slateblue;
        
  }

  .home-btn {
    width: 68px;
    padding: 0.3rem 0.3rem;
    font-size: 0.7rem;
  }

  .image-wrapper {
    width: 230px;
    height: 230px;
   
    margin-bottom: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border:none;
    border-radius: 3px ;
  }
  
  .image{
        order: -1 !important;
border: none;
margin-bottom: 1rem;
  }
        .hamburger {
          order: -1;
        
        }
}
.project-card {
width: 100%;
}
@media (max-width: 600px) {
  .skills ul {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
  }

  .skills button {
    height: 40px;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    display: flex;
    font-size: medium !important;
    justify-content: center;
    width: 60%;
    max-width: 200px;
    margin: 0 auto;
  }
}

body {
  font-family: 'Inter', sans-serif;
}